<!DOCTYPE head PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.highcharts.com/maps/highmaps.js"></script>
<script src="//code.highcharts.com/maps/modules/data.js"></script>
<script src="//code.highcharts.com/maps/modules/exporting.js"></script>
<script src="//code.highcharts.com/mapdata/custom/world.js"></script>



</head>
<body>

<div id="container" style="height: 100%; width: 100%;"></div>

<script type="text/javascript">

    $.getJSON('/travel_map/get_data', function (data) {
    	
        // Initiate the chart
        $('#container').highcharts('Map', {
        	
            mapNavigation: {
            	enableButtons: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
            
            title: {
            	text: ' ',
            },
            
            colorAxis: {
                min: 0,
                max: 1,
                type: 'linear',
                gridLineColor: 'white',
                minColor: '#FCAD82',
                maxColor: '#47FF66',
            },
            
            tooltip: {
                useHtml: true,
                formatter: function() {
                	return this.point.name
                },
            },
            
            plotOptions: {
                	series: {
                   		 point: {
                        	events: {
                        		click: function (e) {
                            		$.get('/travel_map/visit?code=' + e.point.code)
                           			chart = this.series.chart;
                            		chart.reflow()
                            },
                        }
                    }
                }
            },

            series : [{
            	allowPointSelect: true,
                data : data,
                mapData: Highcharts.maps['custom/world'],
                joinBy: ['iso-a2', 'code'],
                cursor: 'pointer',
            }]
        });
    });



</script>

</body>